@imageheight: 400px;
@imagewidth: 400px;
@backgroundcolor: #fff;
@startopacity : 0;

@border: 0px solid #eee;
@boxshadow: none;
@hovercolor: #35a8ce;

@captioncolor: #000;
@captionbackground: rgba(255,255,255,0.5);

.image-slider{
	
	display: inline-block;
	border: @border;
	box-shadow: @boxshadow;
	height: @imageheight;
	width: @imagewidth;
	background: @backgroundcolor;
	
	position: relative;
	overflow: hidden;
	
	ul,li{
		list-style: none;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul{
		height: @imageheight;
	}
	li{
		float:left;
		position:relative;
		min-height: @imageheight;
		min-width: @imagewidth;		
		line-height: @imageheight;
		text-align: center;
	
		&:hover>a{
			background: rgba(250,250,250,0.15);
			opacity: 1;
		}
		img{
			max-height: @imageheight;
			max-width: @imagewidth;
			vertical-align: middle;
		}
	}
	.caption{
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 15px 0;
		left:0;
		text-align: center;
		background: @captionbackground;
		color: @captioncolor;
		font-size: 1em;
		line-height: 1em;
	}
	a{
		transition: all 0.5s linear;
		padding: 10px 20px;
		background: #222;
		background: rgba(250,250,250,0.25);
		opacity: @startopacity;
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		&:hover{
			background: rgba(255,255,255,0.85) !important;
			color: @hovercolor;
		}
	}
	a.next {
		position:absolute;
		right:0px;
		text-shadow: 1px 0px 0px rgba(0,0,0,0.5);
		top: 0;
	}
	a.previous {
		position:absolute;
		left:0px;
		text-shadow: -1px 0px 0px rgba(0,0,0,0.5);
		top: 0;
	}
	
}

/************ Optional dark and light styles **************/
/**********************************************************/

.dark-theme{
	background: #000 !important;
	border:10px solid #333;
	
	a{
		background: transparent !important;
		&:hover{
			background: transparent !important;
		}
	}
	.caption{
		background: rgba(0,0,0,0.25) !important;
		color: #fff !important;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 300;
	}
	a.next,a.previous{
		font-size: 1.5em;
	}
}
.light-theme{
	box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.5);
	border: 10px solid #f3f3f3;
	a{
		height: 1em; 
		line-height: 1em;
		top: 45% !important;
		padding: 20px 20px;
	}
}
.naked-theme{
	border: none !important;
	background: transparent !important;
	box-shadow: none;
	display: inline-block;

	.caption{
		background: rgba(0,0,0,0.15);
		color: #fff !important;
		position: absolute !important;
		display: inline-block !important;
		height: 25px;
		line-height: 1em;
		font-size: 1em;
	}
	a{
		background: transparent !important;
		color: rgba(0,0,0,0.85) !important;
		text-shadow: 1px 0px 1px rgba(250,250,250,0.5);
		&.previous{
			text-shadow: -1px 0px 1px rgba(250,250,250,0.5);
		}
		&:hover{
			background: transparent !important;
			color: #e98f1b;
		}
	}
	li{
		height: auto !important;
		width: auto !important;
		line-height: @imageheight !important;
		position: relative !important;

		img{
			display: inline-block !important;
		}
	}
	a.next, a.previous{
		position: absolute !important;
		top: 0 !important;
		z-index: 10;
	}
}